body {
  background-color: #33468a;
  padding: 0;
  margin: 0;
}
.magnify {
  width: 70px;
  z-index: -1;
  padding-left: 20px;
}
.d-inline-block {
  color: #eef600;
  text-decoration: none;
  font-size: 33px;
}
.d-inline-block:hover {
  color: #eef600;
}
.btn-custom {
  color: yellow;
  border-color: yellow;
  align-items: center;
  font-size: 17px;
}
.btn-custom:hover {
  color: yellow;
}

.navbar {
  background: #33468a;
  padding: 39px;
  border-bottom: 1px solid #eef600;
}
.nav-link,
.navbar-brand {
  color: #eef600;
  cursor: pointer;
  font-size: 17px;
  padding-left: 0px;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #96adfc;
}
.navbar-collapse {
  justify-content: flex-end;
}

.description {
  left: 0;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  text-align: left;
  padding-left: 10px;
}

.description h2 {
  color: #eef600;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 5px;
}

.description button {
  border: 1px solid #eef600;
  position: absolute;
  background: #eef600;
  border-radius: 0;
  color: #eef600;
  font-size: 1rem;
}

.description button:hover {
  background: transparent;
}

.btn-start {
  left: 23%;
  position: absolute;
  margin-top: 600px;
  font-size: 15px;
  text-align: left;
  background: transparent;
  color: #eef600;
  border: 1px solid #e3e676;
  display: inline-flex;
}
.btn-start:hover {
  background-color: #eef600;
}

.btn-top {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 600px;
  max-width: 600px;
  align-items: center;
  margin: 0 auto;
}

.text-center {
  color: #eef600;
  padding: 30px;
}

.text {
  color: #eef600;
  justify-content: center;
  display: flex;
  padding-top: 70px;
}
.world-main {
  position: fixed;

  z-index: -1; /* Place the image behind other content */
  animation: spin 780s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leaf-map {
  border-radius: 10px;
  margin-top: 28px;
  justify-content: center;
}
.CrimeMap {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

.edit-prof {
  justify-content: center;
  margin: 0 auto;
}
